{
  "parserOptions": {
    "ecmaVersion": 11,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "browser": true,
    "node": true
  },
  "globals": {
    "Promise": "writable"
  },
  "extends": ["eslint:recommended", "plugin:react/recommended", "prettier"],
  "plugins": ["import", "react-hooks"],
  "rules": {
    "react/jsx-filename-extension": [0],
    "react/prefer-stateless-function": 0,
    "react/jsx-one-expression-per-line": 0
  }
}
